
<div class="container">
	<div class="row">
		<div class="header">
			<i class="material-icons">keyboard_arrow_left</i>
			<md-card>Now Select a <br> Patient Portal</md-card>
		</div>
		<md-tab-group>
		  <md-tab label="AVAILABLE">
		  	<div class="col-xs-8 col-xs-offset-2">
		  		<form class="example-form">
				  <md-form-field class="search">
				  <md-icon mdPrefix><i class="material-icons">search</i></md-icon>
				    <input type="search" mdInput placeholder="Search by name or state">
				  </md-form-field>
				</form>
		  	</div>
		  	<div class="col-xs-12">
		  		<div class="row">
		  			<ul class="portal-login">
				  		<li><a routerLink="">
				  			<img src="../../assets/img/img-1.jpg" alt=""> <h5>Login</h5>
				  		</a></li>
				  		<li><a routerLink="">
				  			<img src="../../assets/img/img-2.jpg" alt=""> <h5>Login</h5>
				  		</a></li>
				  		<li><a routerLink="">
				  			<img src="../../assets/img/img-3.jpg" alt=""> <h5>Login</h5>
				  		</a></li>
				  		<li><a routerLink="">
				  			<img src="../../assets/img/img-4.jpg" alt=""> <h5>Login</h5>
				  		</a></li>
				  	</ul>
		  		</div>
		  	</div>
		  </md-tab>
		  <md-tab label="CONNECTED">
		  	<div class="panel">
		  		<div class="panel-body">
		  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas optio ipsam incidunt, adipisci asperiores nam sequi vero itaque quo at. Perferendis nulla atque cupiditate ut cumque pariatur aspernatur, accusamus quos.</p>
		  		</div>
		  	</div>
		  </md-tab>
		</md-tab-group>
	</div>
</div>

		  	




